* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
}

header img {
    width: 100px;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
}

nav li {
    margin: 0 10px;
}

nav a:hover {
    color: #ecf0f1;
    border-bottom: 2px solid #ecf0f1;
}

nav ul {   
  list-style: none;
  margin: 0;
  padding: 0; 
  justify-content: center;
  display: flex;
  top: initial;
  left: initial;
  transform: initial;
  margin-left: initial;
  
  li {
    list-style: none;

    a {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin: 20px 0;
      padding: 10px 20px;
      text-decoration: none;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 600;
      transition: .5s;
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
      }
      
      nav &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
      }
      nav &:hover {
        color: #000000;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        nav &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

.usuario {
  position: absolute;
  top: 10px; 
  right: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.BtnX {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.BtnX::before {
  position: absolute;
  content: "Usuario";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.BtnX:hover {
  background-position: right;
  transition-duration: 1s;
}

.BtnX:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.BtnX:active {
  transform: scale(0.95);
}

#dify-chatbot-bubble-button {
    background-color: #1C64F2 !important;
  }
  #dify-chatbot-bubble-window {
    width: 24rem !important;
    height: 40rem !important;
  }

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;
    margin-top: 50px;
    z-index: 100;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
  }

  nav.show {
    display: flex;
    margin-top: 40px;
    z-index: 99;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }

  header {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 10px !important;
  }
}

/* Responsive */
@media (max-width: 1350px) {
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
  }

  nav.show {
    display: flex;
    margin-top: 40px;
    z-index: 99;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  
  #dify-chatbot-bubble-window {
    width: 20rem !important;
    height: 30rem !important;
  }
  
}